## Coding Question #1

Write a Python function named `genre_titles` that extracts titles from a given genre, filters titles containing a specified keyword (case-insensitive), and returns a dictionary where each key is a genre and each value is a list of book titles that match the criteria.

Read the dataframe from the file `books.csv` and save it into a variable df

Usage example:

`>>> genre_titles(df, "Fiction",'great')`

    `{'Fiction': ['The Great Gatsby']}`


Finally, save this result into a DataFrame called `filtered_books`

In [30]:
import pandas as pd

def genre_titles(df, target_genre, keyword):
    """ (df, str, str) -> dict
    assume that target_genre matches perfectly with the column values in "Genre"
    assume that keyword search is not case-sensitive
    for the dictionary, key = genre, values = list of titles containing key-word (not case sensitive)

    genre_titles(df,"Non-Fiction",'of')
    >> {'Fiction': ['The Great Gatsby']}
    """
    
    # Filter the DataFrame for the specified genre using .loc
    genre_df = df.loc[df['Genre'].str.lower() == target_genre.lower()]

    titles_list = []
    # Iterate over the DataFrame using a for loop
    for row in genre_df.index:

        # isolate the Title
        title = genre_df.loc[row,'Title']

        # check if the keyword is in title
        if keyword in title.lower().split(' '):
            titles_list.append(title)
    
    # Return the result as a dictionary
    return {target_genre: titles_list}

In [43]:
# read in dataframe from csv
df = pd.read_csv('books.csv')
df

                         Title            Genre
0        To Kill a Mockingbird          Fiction
1        Brief History of Time      Non-Fiction
2             The Great Gatsby          Fiction
3      The Diary of Anne Frank      Non-Fiction
4      Mysteries of the Cosmos      Non-Fiction
5          The Art of the Code      Non-Fiction
6         Whispers in the Dark          Fiction
7     The Last of the Ancients          Fiction
8         Echoes of the Future  Science Fiction
9               The Silent Sea          Mystery
10  Journey through the Desert           Travel
11         Gardens Beyond Time        Gardening
12     The Mind of the Machine       Technology
13    Legends of the Forgotten          Fantasy

In [32]:
#Should return true
print(genre_titles(df,"Fiction",'great'))
print(genre_titles(df,"Fiction",'great')=={'Fiction': ['The Great Gatsby']})

{'Fiction': ['The Great Gatsby']}
True

In [33]:
#Should return true
print(genre_titles(df,"Non-Fiction",'of')=={'Non-Fiction': ['Brief History of Time', 'The Diary of Anne Frank', 'Mysteries of the Cosmos', 'The Art of the Code']})

True

In [36]:
# create a new dataframe from results
filtered_books = pd.DataFrame(genre_titles(df,"Non-Fiction",'of'))
filtered_books

               Non-Fiction
0    Brief History of Time
1  The Diary of Anne Frank
2  Mysteries of the Cosmos
3      The Art of the Code