# CME538 Tutorial 12: Introduction to SQL

Content by Katia

# Overview of Notebook

## Tutorial Structure:

1. Introduction to Databases and SQL

2. Writing SQL Queries using Magic SQL (`%%sql`)
- `SELECT`
- `WHERE`
- `LIMIT`
- `ORDER BY`
- `OFFSET`
- `JOIN`/`ON`
- `HAVING`
- Complex Queries

3. SQL Queries to Python, Creating Databases, Python to SQL Connections
- Write a SQL table to Pandas dataframe
- Create a SQL Database
    - Tables from Pandas
    - Tables written in SQL

## References

- SQL Alchemy Documentation: https://docs.sqlalchemy.org/en/20/intro.html
- Introduction to SQL, W3 Schools: https://www.w3schools.com/sql/
- References https://database.guide/2-sample-databases-sqlite/

*Prepared in November 2023*

## What is a database?

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.

Common database types include:
- `SQLite`: database engine written in C programming language, self-contained (no extra server requirements), and used for smaller systems. Commonly used in Python SQL applications for this reason!
- `MS Access`: Used for small or in-home business applications. Similar to SQLite.
- `Postresql`: Open source relational database, used for many web, mobile, and geospatial applications.
- `MySQL`: open-source relational database system, comes with a user management interface. Good for more advanced applications, with many users accessing the information.
- `MS SQL`: Microsoft SQL Server. Integrates well with the Office Suite, and higher storage/compute compatability.
- `Oracle DB`: Multi-model database management system, commonly employed when multiple environments for data storage and validation, with common data processing and refreshing.
- `NoSQL`: database approach design that prioritizes retreiving data not in a tabular format (for example, a key-value system like dictionaries, but on a much larger scale).

## What is SQL (Structured Query Language)?

SQL is a programming language used by nearly all relational databases to query, manipulate, and define data, and to provide access control. SQL was first developed at IBM in the 1970s with Oracle as a major contributor, which led to implementation of the SQL ANSI standard, SQL has spurred many extensions from companies such as IBM, Oracle, and Microsoft. Although SQL is still widely used today, new programming languages are beginning to appear.

## What is a relational database? How is this different from what we studied so far?

In contrast to individually saving data files, with SQL we are able to have multiple data sources saved in a computationally efficient way, preserve relationships between them and maintain data integrity.

We will be working with the SQLite database file `chinook.db`. Data source: https://www.sqlitetutorial.net/sqlite-sample-database/

This image shows all the tables in the database (name on top of each box), as well as the columns available (within the box) and keys (i.e. columns) where the joins happen between tables:
![Database Tables](sqllite_tables.jpeg)

## SQL vs. Pandas?

So far in this course, we have worked with individual data sources, but not with a database. SQL natively works better with distributed computing systems, and has fewer key-words than built in (compared to how many Pandas functions there are). SQL directly connects to local and remote database servers, and is meant with handling large volumes of information - SQL is good to batch this data, and performing aggregate functions in memory, in a much cheaper and cost-efficent way compared to Python/Pandas.

Pandas on the other hand is very good for visualization and machine learning tasks.

Almost all the commands that are native to SQL can be replicated in Pandas as well (but as you will see in tutorial, there are a few things simplified from using SQL!).

### Install packages, do updates

In [ ]:
# install the sql package
!pip install ipython-sql

In [ ]:
#alternatively, we can use a tool like sqlalchemy to explicity define the connection
!pip install SQLAlchemy

In [ ]:
# note: sometimes an older version of Pandas can throw errors
pip install --upgrade pandas

In [ ]:
# define imports

# main library we will be using is sqlite3
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# alternative library to work with SQL directly in Pandas
import sqlalchemy

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")

In [ ]:
# ipython magic command - load the SQL extension.
# Needs to be done for sqlite!

If you already loaded SQL during your kernel run, you would use `%reload_ext sql`

### Writing SQL in Python

`%%sql%%` is a magic Python commond (iPython) that will allow you to write and execute SQL code in a Jupyter notebook cell. One side note, the entire cell will be treated as SQL code when you write this command, including comments!

First, we want to load the data, we do this by calling `sqlite:///` and then giving the path of the `.db` file relative to the notebook (for example `sqlite:///chinook.db`), or by directly providing a server connection string here (`postgresql://postgres:password123@localhost/dvdrental`).

**Important Note:** In magic SQL, the database connections will remain open until you restart your kernel! Can explicitly close connections to, which we will show later in the tutorial.

Great! Now that we are connected, we can start running queries. What tables do we have in `chinook.db`? One side note, comments are delineated by `--` in SQL. (in some versions of SQL, `\\` also works, but `--` is pretty universal)

In [ ]:
%%sql
select * from sqlite_master where type='table'

Let's explain this table - the `tbl_name` has the names of the different tables, and the `sql` column directly shows us the SQL code that was used to construct the table. In the `sql` column, we can see the different column names, as well as the variable types that are allowed within the columns.

Let's write our first SQL query, using the `SELECT` keyword (which will bring us back a view-only form of the table). In SQL, we always specify the column names (which is what `SELECT` will apply too and the table name

*Syntax*: `SELECT` **columns** `FROM` **table** `;` 

When we want to select **all** the columns in a table, we use the `*` symbol. For instance, say we wanted to select all the columns from the table `media_types`:

In [ ]:
%%sql

Another common practice is to indent the code and start new parts of the SQL command on new lines, as well as capitalize the key SQL commands (in this case, `SELECT` and `FROM` - case sensitivity is not an issue in SQL!). This is to improve the readibility of the query (as they can get quite complicated and long!). Below is our same code reformatted:

One note: by default the SQL query will bring back the whole table, so we use the `LIMIT` to bring back only the first selected numbers of rows (equivalent to `df.head()` from Pandas!):

## Common Expressions and Operations in SQL

If we wanted to just bring back the columns `Address`, `City` and `State` columns, our query would change like so:

As well, we can also `ORDER BY` a particular column. If we wanted to do the equivalent in pandas, our command would look something like this (and **case-sensitivity** would also be important in Python for column/table names, notice that this is not important in SQL):

`df = df[[Address, City]].sort_values(by=['City'])`

`df.head()`

A row-level filter we can apply is the `WHERE` key-word, applied after the table is selected using the `FROM` key-word. Mnemonically, this is much simpler to remember compared to pandas filtering functions. The ordering in SQL also guarantees less anomalous behaviour, while also being computationally efficient.

Let's look at the `Invoices` table now:

It is important to note the different data types in SQL:
- `INT`: same as in Python
- `REAL`: equivalent to float in Python
- `TEXT`: umbrella for nvarchar, usually has limitation on length (for example, nvarchar48 can be a string of up to 48 characters).
- `BLOB`: Binary Large Objects, can be any type of file (mp3 files, pdfs, other database tables) or any type of data entry.
- `DATETIME`: same as Python

It is important to be mindful of the data-type when exeucuting the `WHERE` condition. Let's do a numerical `WHERE` condition instead:

If we treated the `Total` column like a string instead, the string query would still execute, notice the following:

You can also have more than one filter condition available! Notice that the filtering below is occuring on different columns (`total` and `BillingCity`) than those returned in the table (`invoiceId` and `total`). If we tried to do something like this in pandas, our query would look like so:

`df_filtered = df.loc[(df['total'] > 1.5) | (df['BillingState'] == 'AB'),['invoiceId','total','CustomerId']]`

while you get the same result, in the SQL query it is a bit easier to understand the operations and the way the queried results will be returned.

Let's sort these results using the `ORDER BY` keyword that we learned earlier, we can also add additional arguments - ascending `ASC` or descending `DESC`:

Note that there is no equivalent to the Pandas `.tail()`, but we can use a combination of `ORDER BY` and `LIMIT` keywords to acheive the same result:

Let's say you wanted to omit the first (or last) few results when you presented your ordered dataframe. You can use the `OFFSET` command to skip over a few entries:

Especially when working with a given dataset, you might have long column or table names! To simplify creating SQL queries, you can renaming entities with the `AS` keyword, when the object is first called/defined. In this example:
- the `invoices` table becomes `i`
- the columns are renamed:
    - `invoiceId` as `inv`
    - `total` as `tot`
    - `CustomerId` as `cust`

To convert a data-type, the `CAST` SQL command is used, with the `AS` keyword also applied to specify the desired data-type. It can be a good practice to introduce casting when joining tables if not sure that they share the same data-type, or importing data from a source like a csv (that traditionally keeps data-types as strings):

What is we wanted to get customers only, or perform an aggregation to get some statistics? Similar to pandas, we can use the `GROUP BY` key-words to help us out here.

First, let's use both `SELECT` and `GROUP BY` to see all the `CustomerId` entries:

When we `SELECT` all the columns, the default value returned from the `GROUP BY` for a column will be the top "rolled up" result (i.e. the latest entry that has that specified group value):

We can have multiple advanced aggregation optionms, like so (and we can always rename using `AS` same as before, to layer our queries):

No simple equivalent for something like this in Pandas! Additionally, multiple columns can be grouped by, and an aggregation can be specified too:

Another useful aggregation we can include is `COUNT` - there are a few ways that we can use this:
- Number of records in a table or for a specific condition
- Aggregated count (equivalent to use `.len()` functions in Python)

Two other common aggregate functions in addition to `COUNT`, are `SUM` and `AVG` (just be careful of using numeric data-types, otherwise might get an error or unexpected results):

You can also do a `GROUPBY` by multiple columns:

You may have noticed that SQL operators follow a specifc order in a query. When we do a `GROUP BY`, an important observation is that `WHERE` can no longer be applied to for filtering.

Instead, we need to rely on a new key-word, `HAVING`, which will do this row-based filtering on the groups (this would be similar to writing something like `.groupby("type").filter(lambda f: max(f["cost"]) < 8)` in Pandas).

To summarize, for **rows we use `WHERE`, for groups we use `HAVING`**.

<img src="order_operations.png" width="300">

If we want to return distinct results over specific columns, we can `DISTINCT` keyword:

Here is the difference from adding the `DISTINCT` keyword:

A `JOIN` clause is used to combine rows from two or more tables, based on a related column between them, with the additional `ON` keyword. Let's combine two tables based on the figure below, `tracks` and `media_types`.

![Database Tables](sqllite_tables.jpeg)

But first, let's comment on the different types of joins available in SQL. The syntax will look different in the query, but the terminology is the same as what we've used in `pd.merge`:
- `(INNER) JOIN`: Returns records that have matching values in both tables
- `LEFT (OUTER) JOIN`: Returns all records from the left table, and the matched records from the right table
- `RIGHT (OUTER) JOIN`: Returns all records from the right table, and the matched records from the left table
- `FULL (OUTER) JOIN`: Returns all records when there is a match in either left or right table

![Join Types](join_types.png)

We want to join our table on the `MediaTypeId` column found in both tables. One more neat trick we can do in SQL - we can prefix the table name to indicate which columns we want to bring back in our view, like so:

**ADVANCED SQL: `GROUP BY` and `JOIN`**

Other things we can see in SQL: 
- Views, 
- Stored Procedures
- Schemas

Two important summary points:

<img src="generic_query.png" width="300">

# Storing Results into Python

Use the `<<` syntax, in the `%%sql` magic command. All SQL queries will return a table or a series with an index, which can then be converted to a `Pandas` or `NumPy` object.

Let's try to use some `Pandas` commands on our dataframe!

In [ ]:
# maybe let's first try to print out top 4 entries

Oops! We need to explicity create a Pandas dataframe object to use the Pandas functions!

In [ ]:
import pandas as pd

# need to explicitly define that you want to make a pandas dataframe! Note that an index will be created 
# but you can specify other arguments in pd.DataFrame()

Looking good!

## Pandas knows SQL!

You can pass an entire SQL query using doc-string comment format ` """ """`. Alternatively, Pandas has a `pd.read_sql()` command that can be used!

In [ ]:
query = """
select CustomerId, BillingCountry, InvoiceDate, sum(total), max(total), min(total)
    from invoices
group by CustomerId
limit 20;
"""

In [ ]:
#alternatively, we can use a tool like sqlalchemy to explicity define the connection
!pip install SQLAlchemy

In [ ]:
# note: sometimes an older version of Pandas can throw errors
!pip install --upgrade pandas

Here is an alternative way using `pd.read_sql()`. The advantage of this is that your output is already put into a pandas dataframe for you, which let's you combine SQL and Pandas functions!

In [ ]:
# define your connection in sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///chinook.db")
connection = engine.connect()

# write your query in a doc-string
query = """

"""

# pass both the query and the database connection into pd.read_sql

## Closing a SQL Connection

Connections are an expensive compute resource, and you might also risk losing your data if you unknowingly leave a connection open. As well, an open connection can cause serious performance issues in the cases that you have several users trying to access a database, and also be a potential for a data breach, through other users being able to access the original table code.

In [ ]:
# save available connections to a dictionary
connection_dict = %sql --connections 
connection_dict

In [ ]:
# get the first connection string from the dictionary
connection_string = list(connection_dict.keys())[0] 

# get the connection object from the dictionary using the connection string
connection_object = connection_dict[connection_string]

# print connection
print(connection_object)

In [ ]:
# close the connection using the connection object's url attribute
%sql --close $connection_object.url

Let's check!

In [ ]:
# check by rerunning the same dictionary from step 1
connection_dict = %sql --connections 
connection_dict

# Let's Create Our Own Database!

Let's revisit the example from Week 3 Lecture 2 - the IMDB Web-Scraping example. Imagine you wanted to scrape this data, and then save this into a database, rather than individual csv files.

In [ ]:
# Import 3rd party libraries
import os
import json 
import requests
import numpy as np
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import xml.etree.ElementTree as ET

url = "https://www.goodreads.com/list/show/2681.Time_Magazine_s_All_Time_100_Novels"

response = requests.get(url)
print(response.text[0:200])

In [ ]:
# define our class that stores the html object
soup = BeautifulSoup(response.text, "html.parser")
books = soup

# retreive the book and authors
titles = books.find_all('a', 'bookTitle')
authors = books.find_all('a', 'authorName')

# define lists to store cleaned information
book_titles = [book.text.strip('\n') for book in titles]
author_names = [author.text for author in authors]
rating = [(i+1) for i in range(len(book_titles))]

# create dataframe with the lists
goodreads_df = pd.DataFrame({
    'titles': book_titles,
    'authors': author_names,
    'rank': rating
})    

goodreads_df.head()

In [ ]:
goodreads_df.info()

First, let's create our database object! When we connect to a new database object, it will automatically create this empty file for us.

In [ ]:
# get the first connection string from the dictionary
connection_string = list(connection_dict.keys())[0] 

# get the connection object from the dictionary using the connection string
connection_object = connection_dict[connection_string]

# print connection
print(connection_object)

Let's check that this table exists in our database!

Let's create a second table to write into, our database, this time using the top 100 books according to the Guardian.

In [ ]:
# get url
url = "https://www.theguardian.com/world/2002/may/08/books.booksnews"

# preview results
response = requests.get(url)
print(response.text[0:200])

In [ ]:
# define our class that stores the html object
soup = BeautifulSoup(response.text, "html.parser")
books = soup

# retreive the book and authors
titles = books.find_all('p', 'dcr-19m3vvb')

print(titles[1].text)

# define lists to store cleaned information
# book_titles = [book.text.split('by')[0].strip() for book in titles[:99]]
# author_names = [book.text.split('by')[-1].split(',')[0].strip() for book in titles[:99]]
# years = [book.text.split('(')[-1].split(')')[0].strip() for book in titles[:99]]
# rating = [(i+1) for i in range(len(book_titles))]

# # create dataframe with the lists
# guardian_df = pd.DataFrame({
#     'titles': book_titles,
#     'authors': author_names,
#     'years': years,
#     'rank': rating
# })    

# guardian_df.head()

Let's preview the `guardian` table:

Now let's join our two tables! Let's see what books are in common between the Guardian and Goodreads:

Interesting - only 9 of the titles are shared between the two sources. Let's create a new table from this join!

Let's try to preview our table:

Let's make one more simple table for genres. This time, we will create a table by defining column names, then using the `INSERT` keyword to add tuples:

In [ ]:
%%sql
CREATE TABLE genres(id integer, genre varchar(200));
INSERT into genres(id, genre) values(1, "Horror");
INSERT into genres(id, genre) values(2, "Classical");
INSERT into genres(id, genre) values(3, "Romance");
INSERT into genres(id, genre) values(4, "History");
INSERT into genres(id, genre) values(5, "Fiction");
INSERT into genres(id, genre) values(6, "Adventure");

SELECT * FROM genres;

Let's check all the tables that are in our database:

In [ ]:
%%sql
SELECT * 
FROM sqlite_master 
WHERE type='table';

And finally, close the connection, same as before.

In [ ]:
# close the connection using the connection object's url attribute
%sql --close $connection_object.url

The End!