# CME538 - Introduction to Data Science
## Assignment 1 - Pandas

### Learning Objectives
After completing this assignment, you should be comfortable:

- Reading delimited text data into Pandas.
- Exploring a DataFrame using Pandas functions (grouby, filter, sort, index, etc.).

You are welcome to add additional cells to use as scratch pads, but please move them before submission. Only include your final answer in the cell provided.

### Marking Breakdown

Question | Points
:-- | :--
Question 1a | 1
Question 1b | 1
Question 1c | 1
Question 1d | 1
Question 1e | 1
Question 1f | 1
Question 1g | 1
Question 1h | 1
Question 1i | 1
Question 1j | 1
Question 2a | 1
Question 2b | 1
Question 2c | 1
Question 2d | 1
Question 2e | 1
Question 2f | 1
**Total** | **16**

One of the following marks below will be added to the **Total** above.

### Code Quality

| Rank | Points | Description |
| :-- | :-- | :-- |
| Youngling | 1 | Code is unorganized, variables names are not descriptive, redundant, memory-intensive, computationally-intensive, uncommented, error-prone, difficult to understand. |
| Padawan | 2 | Code is organized, variables names are descriptive, satisfactory utilization of memory and computational resources, satisfactory commenting, readable. |
| Jedi | 3 | Code is organized, easy to understand, efficient, clean, a pleasure to read. #cleancode |

## Setup Notebook

In [ ]:
# Import 3rd party libraries
import pandas as pd

## Question 1
For this question, we will be using the [SF Salaries](https://www.kaggle.com/kaggle/sf-salaries) dataset from Kaggle. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

### Question 1a: 
Use Pandas to import `SF_Salaries.csv` into a DataFrame object and assign the DataFrame to a new variable called `sf_salaries`.

In [ ]:
# Write your code here. 
sf_salaries = ...

# View DataFrame
sf_salaries.head()

### Question 1b:
Using `.info()`, please report: 
- The number of rows.
- The number of columns.
- What are the unique data types in the DataFrame.

**Answer code here:**

In [ ]:
# Write your code here.
...

**Answer Text Here:** (Marks will be assigned based on what is printed below.)
- Number of enties = ...
- Number of columns = ...
- Unique datatypes = ...

### Question 1c:
What is the minimum, maximum and mean BasePay in the dataset? Set the variables `base_pay_min`, `base_pay_max`, and `base_pay_mean` to these values.

**Answer code here:**

In [ ]:
# Write your code here.
base_pay_min = ...
base_pay_max = ...
base_pay_mean = ...

# Print answers
print('Min base pay: {}'.format(base_pay_min))
print('Max base pay: {}'.format(base_pay_max))
print('Mean base pay: {}'.format(base_pay_mean))

### Question 1d:
What is the `TotalPay` and `JobTitle` for `GREGORY STANGLAND`. Set the variables `total_pay` and `job_title` to these values.

**Answer code here:**

In [ ]:
# Write your code here.
total_pay = ...
job_title = ...

# Print answers
print('GREGORY STANGLAND total pay: {}'.format(total_pay))
print('GREGORY STANGLAND job title: {}'.format(job_title))

### Question 1e:
What is the name of the person with the highest `TotalPay`, in what year did they receive that pay and what was the amount of that pay?

Set the variables `name`, `year`, and `total_pay` to these values.

**Answer code here:**

In [ ]:
# Write your code here.
name = ...
year = ...
total_pay = ...

# Print answers
print('Name: {}'.format(name))
print('Year: {}'.format(year))
print('Total Pay: {}'.format(total_pay))

### Question 1f:
Compute the maximum `TotalPay` for each year in the dataset. Set the variable `max_annual_total_pay` to a Series where the index is the `Year` and the values are the maximum `TotalPay` for a particular year.

**Answer code here:**

In [ ]:
# Write your code here.
max_annual_total_pay = ...

# Print answers
print(max_annual_total_pay)

### Question 1g:
How many unique job titles are there in the dataset? Set the variable `unique_jobs` to the value.

**Answer code here:**

In [ ]:
# Write your code here.
unique_jobs = ...

# Print answers
print('Number of unique jobs: {}'.format(unique_jobs))

### Question 1h:
What are the ten most common jobs? Set the variable `job_counts` to a Series where the index is the `JobTitle` and the values are the number of occurences of a particular `JobTitle` in the dataset. If the values are in descending order, the `.head(10)` method can be used to get the top 10 most common jobs.

**Answer code here:**

In [ ]:
# Write your code here.
top_10_job_counts = ...

# Print answers
print(top_10_job_counts)

### Question 1i:
How many jobs were represented by only one person in 2014? Set the variable `num_jobs` to the value.

**Answer code here:**

In [ ]:
# Write your code here.
num_jobs = ...

# Print answers
print('Number of jobs represented by only one person in 2014: {}'.format(num_jobs))

### Question 1j:
How many people had the word `Chief` in their job title in 2013? Set the variable `num_jobs_chief` to the value.

**Answer code here:**

In [ ]:
# Write your code here.
num_jobs_chief = ...

# Print answers
print('Number of jobs titles containing the word Chief in 2013: {}'.format(num_jobs_chief))

## Question 2
For this question, we will be using the [Winemag](https://www.kaggle.com/zynicide/wine-reviews) dataset from Kaggle, which contains 130,000 wine reviews.

First, reuse your code from Question 1a and use Pandas to import `winemag_data.csv` into a DataFrame and assign it to a new variable `wine_reviews`.

In [ ]:
# Write your code here.
wine_reviews = ...

# View DataFreame
wine_reviews.head()

Next, reuse your code from Question 1b and using .info(), please report:

- The number of entries.
- The number of columns.
- What are the unique data types in the DataFrame.

**Answer code here:**

In [ ]:
# Write your code here.
...

**Answer Text Here:**
- Number of enties = ...
- Number of columns = ...
- Unique datatypes = ...

### Question 2a:
How many reviews has each reviewer made according to their twitter handle? Set the variable `reviewers` to a Series where the index is the `taster_twitter_handle` and the values are the number of reviews of a particular `taster_twitter_handle` in the dataset. 

**Answer code here:**

In [ ]:
# Write your code here.
reviewers = ...

# Print answers
print(reviewers)

### Question 2b:
What is the maximum score (points) for a given price? Set the variable `price_max_points` to a Series where the index is the `price` and the values are the maximum `points` for a particular price. The index should be in descending order (highest price to lowest price).

**Answer code here:**

In [ ]:
# Write your code here.
price_max_points = ...

# Print answers
print(price_max_points)

### Question 2c:
What percentage of descriptions contain the word `fruity` or `tart`. Set the variable `fruity_tart_percentage` to the answer.

**Answer code here:**

In [ ]:
# Write your code here.
fruity_tart_percentage = ...

# Print answers
print('{} % of reviews contains the word fruity or tart.'.format(fruity_tart_percentage))

### Question 2d:
How many times is the word `fruity` or `tart` used in review descriptions for a particular country? Set the variable `fruity_tart_count_by_country` to a Series where the index is the `country` and the values are the number of times `fruity` or `tart` appear in the descriptions from a particular country. The values should be in descending order (highest count to lowest count).

**Answer code here:**

In [ ]:
# Write your code here.
fruity_tart_count_by_country = ...

# Print answers
print(fruity_tart_count_by_country)

### Question 2e:
How many unique varieties does each country have? Set the variable `country_varieties_count` to a Series where the index is the `country` and the values are the number of unique wine varieties. The values should be in descending order (highest count to lowest count).

**Answer code here:**

In [ ]:
# Write your code here.
country_varieties_count = ...

# Print answers
print(country_varieties_count)

### Question 2f:
What combination of countries and varieties are most common? Set the variable `country_varieties` to a Series whose index is a MultiIndex of (country, variety) pairs. For example, a merlot produced in the France should map to {'France', 'Merlot'}. The values should be in descending order (highest count to lowest count).

**Answer code here:**

In [ ]:
# Write your code here.
country_varieties = ...

# Print answers
print(country_varieties)

**Congratulation, you're done Assignment 1. Review your answers and clean up that code before submitting on Quercus. `#cleancode`**